.app-header {
  background-color: var(--clr1);
  color: var(--clr1bg);
  padding: 1em;
}

.app-header section:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.app-header .app-nav {
  display: flex;
  gap: 15px;
}

@media(max-width: 720px) {
  .app-header {
    color: var(--clr2bg);
  }
}
