.app-header {
  background-color: var(--clr1);
  color: var(--clr2bg);
  min-width: 380px;
  padding: 20px;
}

.app-header section:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.app-header .app-nav {
  display: flex;
  gap: 15px;
}

.nav-link {
  display: flex; 
  text-decoration: none; 
  color: inherit; 
}

.nav-link i {
  margin-right: 0.01rem; 
}


