.input-field {
  /* padding: 0.5em; */
  /* margin-top: 0.25em; */
  border: 1px solid #ddd;
  border-radius: 4px;
}

.submit-button {
  padding: 0.75em ;
  border: none;
  color: #fff;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: var(--clr2);
  cursor: not-allowed;
}
